*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    --main-color:#222;
}


body {
    overflow-x: hidden;
    transform-style: preserve-3d;
    height: 100%;
} 


li {
    list-style: none;
}

nav{
    position: relative;
    background:none;
    font-weight: 600;
    position: fixed;
    width: 100%;
    top: 0px;
    opacity: 1;
    z-index: 1000;
    transition: all 0.2s linear;
}

nav ul.nav-bar {
    position: absolute;
    width: 100%;
    padding: 12px;
    text-align: right;
}

nav .logo {
    position: absolute;
    top: 13px;
    font-size: 25px;
    color: white;
    left: 35px;
    z-index: 1000;
    cursor: pointer;
}

nav .logo span {
    margin-left: 5px;
    font-weight: 550;
}

.nav-bar li {
    display: inline-block;
    margin-right: 40px;
    font-size: 17px;
    align-items: center;
}

.nav-bar i {
    font-size: 28px;
    color: rgb(255, 255, 255);
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}


.side-bar {
    height: fit-content;
    width: 200px;
    text-align: center;
    right: -200px;
    position: absolute;
    z-index: 10000;
    top: 48px;
    position: fixed;
    background-color: crimson;
    transition: all 0.4s linear;
}

.side-bar li {
    padding: 3px;
    width: 100%;
    line-height: 45px;
    font-size: 19px;
    border-bottom: 1px solid rgba(190, 143, 143, 0.356);
    border-top: 1px solid rgba(190, 143, 143, 0.356);
}

.side-bar li a {
    text-decoration: none;
}

.side-bar li:hover{
    background-color:  rgb(122, 42, 58);
    transition: 0.3s linear;
}

.side-bar li:hover a{
    color: white;
}

ul li a{
    color: rgb(255, 255, 255);  
    text-decoration: none;
}


.activeNav {
    right: 0px;
}


.main {
    width: 100%;
}

#Home {
    height: 120vh;
    max-width: 100%;
    background: url(Photos/faw.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#Home h3 {
    flex: 1 1 100%;
    position: absolute;
    color: white;
    font-size: 32px;
    left: 10%;
    top: 33%;
    font-weight: 670;
}

#Home h3 span {
    color: crimson;
}

#Home button {
    position: absolute;
    padding: 10px 12px;
    left: 10%;
    top: 48%;
    background:crimson;
    outline: none;
    color: white;
    width: 160px;
    font-size: 19px;
    font-weight: 500;
    border: 1px solid crimson;
    border-radius: 5px;
}

#Home button:hover{
    background:none;
    transition: all 0.4s ease-in-out;
}

#AboutUs {
    margin-top: 180px;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
}

.heading h3 {
    text-align: center;
    font-weight: 650;
    font-size: 35px;
    position: relative;
    width: 400px;
    margin: 0 auto;
    padding-bottom: 10px;   
    
}

.heading h3::before{
    position: absolute;
    content: "";
    width: 190px;
    background:crimson;
    height: 3px;
    left: 50%;
    bottom: -5px;
    transform: translatex(-50%);
}

.heading h3::after{
    position: absolute;
    content: "Who I am ";
    background:rgb(255, 255, 255);
    left: 50%;
    bottom: -10px;
    transform: translatex(-50%);
    font-size: 18px;
    padding: 0px 5px 0px 5px;
    color: crimson;

}

.content1 {
    width: 100%;
    margin: auto;  
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
    background-color: rgb(255, 231, 237);
    font-weight: 600;
}

.w50 {
    flex: 1 1 310px;
    margin: 20px 20px 0px 20px ;
    transform: scale(0.9);

}

.w50:nth-child(2) {
    background-color: rgb(255, 215, 215);
    padding: 15px;
    border-radius: 125px;
}

.w50:nth-child(2) .img {
    position: relative;
    max-width: 100%;
    height: 470px;
    display: none;
    left: calc(50% - 175px);
    border-radius: 125px;
}


.contentBx {
    justify-content: space-between;
}


.contentBx h3 {
    color: crimson;
    font-weight: 650;
    font-size: 30px;
}


#Skills {
    background-color: #111;
    margin-top: 180px;
    position: relative;
    min-height:450px;
    color: whitesmoke;
}

#Skills .heading h3 {
    color:  rgb(255, 255, 255);
    text-align: center;
    padding-top: 20px;
}

#Skills .heading h3::before{
   background: white;
}

#Skills .heading h3::after{
    background-color :#111;
    content: "My Skills";
}


#Skills .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;    
    transform: scale(0.9);
    margin-bottom: 20px;
}

#Skills .os {
    flex: 1 0 320px;
    background-color: #1a1a1a;
    padding: 15px;
    margin: 10px;
    min-height: 250px;
}

#Skills .os i {
    position: relative;
    transform: translate(-50%,-50%);
    left: 50%;
    margin-top: 30px;
    font-size: 38px;
}

#Skills .os figcaption h2 {
    text-align: center;
}

#Skills .os:hover{
    background-color:  crimson;
    transition: all 0.4s ease-in-out;
}

#Skills .skills-content {
    display: flex;
    flex-flow: row wrap;
    padding: 0px 40px;
    padding-bottom: 70px;
}

#Skills .skills-content .column {
    width: calc( 50% - 30px);
    margin: 0 15px 0 15px;  
}

#Skills .skills-content .text {
    color: crimson;
}

#Skills .skills-content .right .bars .info {
    margin-bottom: 15px;
}

#Skills .skills-content .right .bars .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Skills .skills-content .right .bars .info progress {
    flex-grow: 2;
}

#Skills .skills-content .right .bars .info span {
    margin: 0 10px 0 10px;
    min-width: 80px;
}


#Achivements {
    margin-top: 180px;
}

#Achivements .heading h3::after{
    content: "My Achivements";
}


.images {
    display: flex;
    width: 100%;
    margin: auto;
    flex-flow: row wrap;
    justify-content: space-between;
    transform: scale(0.9);
}

.images .card {
    flex: 1 1 300px;
    margin: 10px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
    box-shadow: 10 -10 20;
    position: relative
}

.images .card img{
  opacity: 0.8;
  cursor: pointer;
}

.images .card img:hover{
    opacity: 1;
    transition: all 0.7s linear;
}

.card-body {
    color:#111;
    background-color: rgb(255, 255, 255);
}

.card-body .card-title {    
    color: crimson;
    font-weight: 600;
}

.card-body .card-text {
    font-weight: 600;
}


.active{
    color:rgb(0, 0, 0);
}

.toUpBtn i {
    color:rgb(0, 111, 185) ;
    position: fixed;
    padding:5px;
    font-size: 30px;
    display:none;
    right: 10px;
    bottom: 40px;
    border-radius: 50%;
    font-weight: 600;
}

.toUpBtn i:hover{
    transition:all 0.4s linear;
    color: crimson;
    transform: translateY(-8px);
}

#ContactUs {
    position: relative;
    margin-top: 100px;
    transform: scale(0.95);
}

#ContactUs .heading h3:after {
    content:"Contact Me" ;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    margin: 15px;
}

.contact-content .column {
  width: calc(50% - 30px);
  margin: 0 10px 0 10px ;
}


.text {
    font-size: 22px;
    font-weight: 650;
    margin-bottom: 10px;
}

.contact-content .left p {
    text-align: justify;
}

.contact-content .left .icons {
    margin: 10px 0px;
}

.contact-content .left .icons .icons-row {
    margin: 10px 0px;
    height: 65px;
    display: flex;
    align-items: center;
}

.contact-content .left .icons .icons-row i {
    margin-right: 20px;
    font-size: 25px;
    color: crimson;
}

.contact-content .left .icons .icons-row .info .head {
    font-weight: 600;
}

.contact-content .right form .fields {
  display: flex;
}

.contact-content .right form .field,
.contact-content .right form .fields .field {
    width: 100%;
}

.contact-content .right form .field input , .contact-content .right form textarea {
    width: 100%;
    border: 1px solid lightgray;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
}

.contact-content .right form .fields .field:first-child {
    margin-right: 10px;
}

.contact-content .right form .field input:focus ,
 .contact-content .right form textarea:focus{
    border: 1px solid crimson;
}

.contact-content .right form button {
    padding: 8px 10px;
    outline: none;
    color: rgb(0, 0, 0, 3, 3);
    background:none;
    width: 140px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    background-color: crimson;
    color: white;
    border: none;
    position: relative;
    border: 1px solid crimson;
}

.contact-content .right form button:hover{
    transition: all 0.3s linear;
    background: none;
    color: crimson;
}   


#Footer {
    width: 100%;
    background-color: #111;
    color: #ddd;
    height: 180px;
    position: relative;
    margin-top: 140px;
}

#Footer h3 {
    text-align: center;
    font-size: 35px;
}

#Footer footer
{
    width: 100%;
    margin-top: 50px;
    width: 100%;
}


.links
{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   transform: translateY(45px);
}


.links a i
{
    color: rgb(255, 255, 255);
    font-size: 25px;
    line-height: 10px;  
    padding: 7px;
    opacity: 0.7; 
    margin: 15px;
}

.links a i:hover
{
    transition: all 0.3s linear;
    transform: scale(1.3);
    opacity:1;
    color:  crimson;
}

footer p {
    text-align: center;
    transform: translateY(45px);
}


/* Media Functions */ 
@media screen and (max-width:800px){
    .contact-content .column {
        width: calc(100% - 20px);
    }

    #Skills .skills-content .column {
        width: 100%;
    }

}

@media screen and (max-width:890px){
    .side-bar {
        background-color: crimson;
    }

    .nav-bar i:nth-child(1){
        display: block;
    }

    .nav-bar li a {
        display: none;
    }

    .nav-bar {
        background-color: crimson;
        position: fixed;
    }

}

